<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Corona Admin</title>
  <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
  <!-- styles -->
  <%- include('../partials/_styles') %>
    <!-- styles -->
</head>

<body>
  <div class="container-scroller">

    <!-- partial:partials/_sidebar -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/images/logo-mini.svg" alt="logo" /></a>
      </div>
      <!-- partial:partials/_sidebar -->
      <%- include('../partials/_sidebar') %>

    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar -->
      <%- include('../partials/_navbar') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Form elements </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Faq</h4>

                    <form class="forms-sample" autocomplete="off" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="question">English Question</label>
                        <textarea type="text" class="form-control text-white" id="question" name="questionE"
                          placeholder="English Question"><%- faqsData.questionE %> </textarea>
                      </div>

                      <div class="form-group">
                        <label for="answer">English Answer</label>
                        <textarea type="text" class="form-control text-white" id="answer" name="answerE"
                          placeholder="English Answer"> <%- faqsData.answerE %></textarea>
                      </div>

                      <div class="form-group">
                        <label for="question">Gujarati Question</label>
                        <textarea type="text" class="form-control text-white" id="question" name="questionG"
                          placeholder="Gujarati Question"><%- faqsData.questionG %> </textarea>
                      </div>
                      
                      <div class="form-group">
                        <label for="answer">Gujarati Answer</label>
                        <textarea type="text" class="form-control text-white" id="answer" name="answerG"
                          placeholder="Gujarati Answer"> <%- faqsData.answerG %></textarea>
                      </div>
                      



                      <button type="submit" class="btn btn-primary me-2">Submit</button>
                      <a href="/faqs" class="btn btn-dark">Cancel</a>
                    </form>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <%- include('../partials/_footer') %>

            <!-- partial -->
        </div>
        <!-- partial -->

        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <%- include('../partials/_scripts') %>
    <script>
      CKEDITOR.replace('description');
    </script>

</body>

</html>